.button {
    display: block;
    margin: 10px 0; 
    padding: 10px 20px;
    font-size: 22px;
    line-height: 22px;
    border-radius: .3rem;
    text-transform: uppercase;
    text-align: center;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}
.button.btn-large {
    width: 150px;
}
.button.btn-full {
    width: 100%;
}